.navigation {
    background: #2196f3;
    padding: 30px;
}

.navigation a {
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background: #ff9800;
    border-radius: 4px;
}

.navigation a:hover {
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background: #814f03;
    border-radius: 4px;
}