.btn {
    padding: 10px 36px;
    border: 1px solid #3f51b5;
    border-radius: 4px;
    outline: none;
    background: #03A9F4;
    color: white;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
    background: #003f5c;
    color: white;
}