.header {
    background-color: greenyellow;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.header .logo img{
    width: 30px;
}

.troley {
    position: relative;
}

.troley img {
    width: 30px;
}

.count {
    background: blue;
    padding: 10px;
    border-radius: 50%;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -8px;
    left: -13px;
}

.card {
    border: 1px solid rgb(0, 0, 0.23);
    padding: 10px;
    width: 320px;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    margin-left: 25px;
}

.card img {
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;

}


.counter {
    padding-left: 10px;
    text-align: center;
}

.counter .counttext {
    padding: 10px;
    border-radius: 4px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    font-size: 11px;
}

.counter .minus {
    background: blue;
    padding: 10px 10px;
    padding-top: 10px;
    margin-right: 5px;
    border-radius: 4px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
}
 .counter .plus {
    background: blue;
    padding: 10px;
    margin-left: 5px;
    border-radius: 4px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
 }

.product-title {
    font-weight: bold;
    padding-left: 10px;
}

.product-price {
    padding-left: 10px;
    color : orange;
    font-weight: bold;
}




